# Project
.idea
vendor
mnemosyne-inpkg
_vendor-*
.tmp
bin
*.iml
*.xml
*.out
run.sh
coverage.txt
coverage
*.sublime-project
*.sublime-workspace
.vscode
swarm.sh
mnemosyne_client.egg-info
dist
*.test
*.o
*.a
*.so
_obj
_test
.vagrant
/temp
*.pyc
VERSION.txt
.DS_Store