[Unit]
Description=mnemosyne

[Service]
EnvironmentFile=/etc/mnemosyne.env
ExecStart=/usr/bin/mnemosyne \
    -host=${MNEMOSYNE_HOST} \
    -port=${MNEMOSYNE_PORT} \
    -subsystem=${MNEMOSYNE_SUBSYSTEM} \
    -namespace=${MNEMOSYNE_NAMESPACE} \
    -l.format=${MNEMOSYNE_LOGGER_FORMAT} \
    -l.adapter=${MNEMOSYNE_LOGGER_ADAPTER} \
    -l.level=${MNEMOSYNE_LOGGER_LEVEL} \
    -m.engine=${MNEMOSYNE_MONITORING_ENGINE} \
    -s.engine=${MNEMOSYNE_STORAGE_ENGINE} \
    -s.p.address=${MNEMOSYNE_STORAGE_POSTGRES_ADDRESS} \
    -s.p.table=${MNEMOSYNE_STORAGE_POSTGRES_TABLE}
Restart=on-failure

[Install]
WantedBy=multi-user.target
